.footer {
    background-color: #275754; /* Couleur de fond pour le pied de page */
    color: white; /* Texte en blanc pour contraster */
    padding: 20px; /* Ajoute de l'espace interne */
    text-align: center; /* Centre le texte */
    font-size: 1.5rem; /* Taille de police légèrement réduite */
    width: 390px;
}

.footer .section-pieddepage li {
    list-style: none;
    display: inline-block; 
    margin: 0 10px; 

  }

    